@@include('./_includes/head.html', {
	"title": "Privacy"
})
@@include('./_includes/top_nav_static.html')

<div class="error-page pl16 pr16 ">
  <div class="content">
  	<div class="row flex--justify-center">
      <div class="col-xs-12 col-sm-8">
        <div class="row mt96 pt40">
          <div class="col-xs-12 col-sm-6">
            <p class="text-size-xxxlg mt8 mb16">Oops!</p>
            <p class="text-size-sm">We can't seem to find the page you're looking for.</p>
            <p class="text-size-sm">Error code: 404</p>
          </div>
          <div class="col-xs-12 col-sm-6 mt40">
            <div class="pear-logo"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
