@@include('./_includes/head.html', {
	"title": "Home"
})
<div class="blog-cover">
</div>

<section class="blog container">
  <div class="posts-container pb84">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="text-uppercase mt40 mb40">Lates posts</h4>
      </div>
			<div style="width: 100%">
				<div class="slick-carousel">
		      <div class="text-center post">
		        <img src="images/blogArticle.png"/>
		        <p class="text-size-smd text-capitalize pl32 pr32 pb24">What do you do when the world feels scary?</p>
		      </div>
		      <div class="text-center post">
		        <img src="images/blogArticle2.png"/>
		        <p class="text-size-smd text-capitalize pl32 pr32 pb24">Love Story: A Long One, But It's So Good I Couldn't Resist.</p>
		      </div>

		      <div class="text-center post">
		        <img src="images/blogArticle.png"/>
		        <p class="text-size-smd text-capitalize pl32 pr32 pb24">What Do You Do When The World Feels Scary?</p>
		      </div>

		      <div class="text-center post">
		        <img src="images/blogArticle2.png"/>
		        <p class="text-size-smd text-capitalize pl32 pr32 pb24">What Do You Do When The World Feels Scary?</p>
		      </div>

		      <div class="text-center post">
		        <img src="images/blogArticle.png"/>
		        <p class="text-size-smd text-capitalize pl32 pr32 pb24">Love Story: We're Getting Closer - 1 Week Away!</p>
		      </div>

		      <div class="text-center post">
		        <img src="images/blogArticle2.png"/>
		        <p class="text-size-smd text-capitalize pl32 pr32 pb24">What do you do when the world feels scary?</p>
		      </div>
				</div>
			</div>
    </div>
  </div>



  <div class="integrations">
    <div class="row">
      <div class="col-xs-12 col-sm-4 padding-right">
        <h4 class="text-uppercase">Twitter</h4>
        <a class="twitter-timeline" height="437"
          href="https://twitter.com/TwitterDev">
        Tweets by @TwitterDev
        </a>
      </div>

      <div class="col-xs-12 col-sm-4 padding-center">
        <h4 class="text-uppercase">Instagram</h4>
        <iframe src="//lightwidget.com/widgets/1cf089dc79ec5cf783444b7318d87984.html" id="lightwidget_1cf089dc79" name="lightwidget_1cf089dc79"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
      </div>

      <div class="col-xs-12 col-sm-4 padding-left">
        <h4 class="text-uppercase">Facebook</h4>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=437&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=false&appId=1694822130750294" width="340" height="437" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>

</section>


@@include('./_includes/footer.html')
