<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<meta name="description" content="Pear Web Page">
		<title>Pear Web | Privacy</title>
		<!-- Custom styles for this template -->
		<!-- Built main.css style -->
		<link href="styles/main.css" rel="stylesheet">
		<!-- End Built css -->
		<link rel="icon" type="image/x-icon" href="images/favicon.ico">
		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-86473127-1', 'auto');
		  ga('send', 'pageview');
		</script>

	</head>
	<body>

<div id="top-nav" class="top-nav white static">
  <span class="pear-logo"></span>
  <div class="nav-container">
    <div id="nav-home" class="nav-item text-regular clickable">
      <a href="/">Home</a>
    </div>
    <div id="nav-about" class="nav-item text-regular clickable">
      <a href="/#nav-about-trigger">About</a>
    </div>
    <div id="nav-blog" class="nav-item text-regular clickable">
      <a href="/#nav-blog-trigger">Blog</a>
    </div>
    <div id="nav-support" class="nav-item text-regular clickable">
      <a href="/#nav-support-trigger">Support</a>
    </div>
  </div>
</div>

<div class="terms-privacy pl16 pr16">
	<div class="row flex--justify-center">
    <div class="col-xs-12 col-sm-8 text-center mt84 pt96 pb72">
      <h3 class="text-uppercase margin0">Support</h3>
    </div>

		<div class="col-xs-12 col-sm-8 text-left pb56">
			<h4 class="margin0">1.   Where can I download pear?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>pear app will be available soon! We are working hard and we are planning to launch very soon, sign up to our mailing list at <a href="http://www.pear.me">www.pear.me</a> to be the first to know about it!</span></li>
			</ul>
			<h4 class="margin0">2.  What are the core ideas behind Pear? </h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>Read how the app works and how the algorithm works on our <a href="/#nav-blog-trigger">blog posts</a>.</span></li>
			</ul>
			<h4 class="margin0">3. How do I get started immediately with using the app? </h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>Simply log-in with Facebook and add a pic to your profile. Then move to the comparison screen where you will be asked to compare couple of users and pick your preferred one. Keep comparing and your matches will appear. At that point, you will be also able to open a chat and talk with your matches.</span></li>
			</ul>
			<h4 class="margin0">4. Why sign in through Facebook? </h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>We require you to sign in with Facebook as it will drastically reduce the creation of fake accounts.</span></li>
			</ul>
			<h4 class="margin0">5. Why does Pear need to access Facebook information? </h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>When signing in with Facebook, we will access important information such as name and age. We do this in order to ensure that the information everyone provides is reliable. Moreover, we anonymize the information we collect and use it to create a behavioral report that gives subscribing users feedback on their attractiveness.</span></li>
			</ul>
			<h4 class="margin0">6. How does pear treat my personal information? </h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>To learn about what we do with personal information, please read our <a href="/privacy.html">Privacy Policy</a>.</span></li>
			</ul>
			<h4 class="margin0">7. Will the app post on my Facebook page? </h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>No, don’t worry, this will NOT happen! We care about your privacy and we will not post information on your profile without your permission.</span></li>
			</ul>
			<h4 class="margin0">8. Does it work for all sexualities?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>Unfortunately, the algorithm requires participating users to be divided in two sides. Therefore, at present, it does not work if you are looking for people of the same sex. We would like everyone, regardless of their sexual orientation to join our community; we are working on creating a new algorithm that works for all. So stay tuned!</span></li>
			</ul>
			<h4 class="margin0">9. Why do you need access to my phone gallery?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>We need your permission to open your phone gallery when/if you want to add a picture on your profile.</span></li>
			</ul>
			<h4 class="margin0">10. What is the minimum age requirement?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>We need your permission to open your phone gallery when/if you want to add a picture on your profile.</span></li>
			</ul>
			<h4 class="margin0">11. What is the minimum age requirement?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>Pear users must be 18 or over.</span></li>
			</ul>
			<h4 class="margin0">12. What are the norms that regulate the interaction between us and you? </h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>Please read <a href="/terms.html">Terms and Conditions</a> carefully to be familiar with the rules and safe guards of the App.</span></li>
			</ul>
			<h4 class="margin0">13. How can I add/change pictures?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>You can add pictures directly from your camera roll. It is possible to add a maximum of 5 pictures. To do this, go on your profile page and click on “ADD PHOTO” to upload a new one or on an existing picture to change it to a different one! You can delete pictures by clicking on a picture and then on “Delete Photo”.</span></li>
			</ul>
			<h4 class="margin0">14. Why should I post more than one picture?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>Studies have proved that users with a high number of pictures on their profile have higher chances of being when compared to others. </span></li>
			</ul>
			<h4 class="margin0">15. Can I change my name or age?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>This information is taken from your Facebook profile, so no, it is not possible to change it without changing your Facebook profile. We will not disclose any information regarding your last name.</span></li>
			</ul>
			<h4 class="margin0">16. Can I change my location?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>No, it is not possible to change or input your location. It will be automatically detected by your phone’s GPS. </span></li>
			</ul>
			<h4 class="margin0">17. Does the GPS locator always have to be on?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>To find a “pear” in your location, we need to access your location. We only record your position when you activate the app. Otherwise, pear app will use the last location recorded. </span></li>
			</ul>
			<h4 class="margin0">18. “There is nobody around you?” how can I solve this problem?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>This means that there are no new users available in the area you selected. To solve this problem, you can try to change the age and the distance restrictions.</span></li>
			</ul>
			<h4 class="margin0">19. Is it possible to use the app offline?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>No, it is not possible to use the app offline, as it will not be possible to chat with other users or find new users to compare.</span></li>
			</ul>
			<h4 class="margin0">20. How do I turn on/off the notifications?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>You can turn on/off the notifications from the settings page. If you turn off notifications you will not be notified when you receive a new message or a new match.</span></li>
			</ul>
			<h4 class="margin0">21. How can I restrict the age and distance of the users I am interested in?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>You can change these features in the settings’ page, adjusting the age bar and the distance bar according to your preferences.</span></li>
			</ul>
			<h4 class="margin0">22. Can I hide my account?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>Yes! If you don’t want to use the account for a while, you can hide it. Please note, you will not appear to possible new matches. You will only remain visible to your current matches (unless you un-match them of course).</span></li>
			</ul>
			<h4 class="margin0">23. How do I delete my account?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>Deleting your account it is easy. Just go to settings, scroll down and click on the “Delete Your Account” button. We would be sorry to see you leave, but we hope it would be because you found your “pear”! Note that deletion cannot be undone and you will lose all your matches.</span></li>
			</ul>
			<h4 class="margin0">24. What are the main screens of the app?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>The app is very simple. There is a settings page where you set your age/location restrictions, your notification settings, and so on. There is a profile page where you can build your profile. The core of the app is the comparison screen, where you are showed two users at a time and are asked to prefer one of them. Finally, there is the match screen that contains all your matches. Go on the match page to start chatting with your matches.</span></li>
			</ul>
			<h4 class="margin0">25. How does the comparison screen work?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>We will show you two profiles at the time, and we expect you to decide with each profile which you prefer among the two users. To express the preference for a user, click on the Pear logo on the user’s picture! Your preferences will remain private and will never be disclosed to anybody, except in an anonymous way.</span></li>
			</ul>
			<h4 class="margin0">26. Why do I keep seeing the same profiles in the comparison screen?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>You never get to see the same couple of profiles twice, but you may see the same profile multiple times. In fact, as you keep comparing other users, our algorithm will keep track of your preferences, basically ranking all previously seen users from the one you like most to the one you like least. Therefore, when you are shown a new user, in order to determine his or her ranking, the algorithm needs to compare this person with people you have already ranked.</span></li>
			</ul>
			<h4 class="margin0">27. How can I talk to someone?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>It is possible to chat with a user only IF the algorithm matches you with that person. That way, we make sure that the set of people who can message you is limited and selected. </span></li>
			</ul>
			<h4 class="margin0">28. Where can I see my matches?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>It is possible to chat with a user only IF the algorithm matches you with that person. That way, we make sure that the set of people who can message you is limited and selected. </span></li>
			</ul>
			<h4 class="margin0">29. Why are my matches divided between “Stable” and “Expiring”?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>A match is a match, whether it is stable or expiring. However, there are two main differences between stable and expiring matches. Firstly, while stable matches are stable, your expiring matches will expire after a predetermined period of time! Secondly, while there is a limited number of stable matches you can have at each point in time, the number of expiring matches is not bounded. Initially all new matches are stable, but then some (or all of them) can be replaced by other stable matches and turn into expiring matches. </span></li>
			</ul>
			<h4 class="margin0">30. Why do you let some matches expire?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>We let matches expires in order to keep everyone’s activity on the App focused on a limited set of people. We believe that this is important to increase the value of your matches.</span></li>
			</ul>
			<h4 class="margin0">31. When does a stable match turn into an expiring one?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>All new matches are initially stable. However, as you keep comparing people and other people compare you, the algorithm becomes more precise about your preferences and may match you with someone else. At that point, one your existing stable matches is turned into an expiring one. If the change was induced by the algorithm allocating someone new to you, then the stable match with the person you have ranked lowest will be the one to disappear.</span></li>
			</ul>
			<h4 class="margin0">32. A match has expired, how can I recover it?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>Once a match has expired is not possible to recover it. We encourage you to move the action offline with those expiring matches that you want to preserve.</span></li>
			</ul>
			<h4 class="margin0">33. I have a match and I want to look at his/her profile again, how can I do it?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>It is possible to look at the user’s profile again by clicking on their picture. </span></li>
			</ul>
			<h4 class="margin0">34. Why don’t I have any matches?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>The more you use the app and like people, the more possibilities you have to get matched! Remember, having your photos will increase your visibility and your chances to be liked! Choose your best shots and start to like people!</span></li>
			</ul>
			<h4 class="margin0">35. Can I un-match someone? How can I do it?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>Yes, if you don’t like the user you have been matched with you can un-match them. To do so, go on your matches’ page and open the conversation with the user in consideration. Click on the button on the top right of the page and select “un-match”. Once you do so, you cannot retrieve your old matches and the user will not be proposed to you on the comparisons again.</span></li>
			</ul>
			<h4 class="margin0">36. One of the matches received is not behaving appropriately, how can I report it?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>It is possible to report a user by opening the chat with him, clicking to the bottom on the top right corner and select report. You can then decide on the reason why you want to report the user and proceed.</span></li>
			</ul>
			<h4 class="margin0">37. I have some questions or I want to leave some comments, how can I do it?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>To do so, you have to go in “Settings”. Under the section “Support and Feedback”, select “Leave feedback” if you want to let us know what you think about us or if you have any suggestions. Select “Support” if you are facing any issues with the app.</span></li>
			</ul>
			<h4 class="margin0">38. What is the pear attractiveness report?</h4>
			<ul class="text-size-xs text-line-height-lg text-thin mb40">
				<li><span>To learn what the attractiveness report is please read <a href="/#nav-about-trigger">here</a>.</span></li>
			</ul>

		</div>


		<div class="email col-xs-12 col-sm-5 pb96 text-center">
			<img src="images/mail-icon.svg" style="height: 80px; width: 80px;" />
			<p class="text-size-xs margin0 text-thin">If you have other questions, or other technical issues, please contact us at <a class="text-link" href="mailto:support@pear.com">support@pear.com</a></p>
		</div>
	</div>
</div>
	<footer class="flex--justify-center pt32 pb32 text-center">
		<a class="text-decoration-none text-color-grey-light text-thin text-size-xs" href="mailto:press@pear.me">Press kit</a>
		<span class="bullet ml16 mr16"></span>
		<a class="text-decoration-none text-color-grey-light text-thin text-size-xs" href="/terms.html">Terms and conditions</a>
		<span class="bullet ml16 mr16"></span>
		<a class="text-decoration-none text-color-grey-light text-thin text-size-xs" href="/privacy.html">Privacy</a>
		<span class="bullet ml16 mr16"></span>
		<a class="text-decoration-none text-color-grey-light text-thin text-size-xs" href="mailto:support@pear.me">Contact</a>
		<span class="bullet ml16 mr16"></span>
		<a class="text-decoration-none text-color-grey-light text-thin text-size-xs" href="http://www.algorithmicmatching.com">Algorithmic Matching</a>
	</footer>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="//lightwidget.com/widgets/lightwidget.js"></script>
	<script src="scripts/main.js"></script>
	</body>
</html>
