.blog-cover {
  height: 500px;
  background: url('../images/hero-blog.png') center center;
  background-color: black;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: white;
  }
}

.blog {

  @media #{$small-and-up} {
    .padding-left {
      padding-left: 24px;
    }

    .padding-center {
      padding-left: 16px;
      padding-right: 16px;
    }

    .padding-right {
      padding-right: 24px;
    }
  }

  @media #{$medium-and-up} {
    .padding-left {
      padding-left: 40px;
    }

    .padding-center {
      padding-left: 26px;
      padding-right: 26px;
    }

    .padding-right {
      padding-right: 40px;
    }
  }

  .post {
    img {
      width: 100%;
    }
  }

  .integrations {

  }

}
