.landing-launch {
  width: 100%;

  @media #{$extra-small-and-down} {
    width: 80%;
    margin: 0 auto;
  }

  .button-join {
    margin: 0 auto;
  }

  .we-promise {
    opacity: 0.2;
    color: black;
  }

  .pear-logo {
    margin: 0 auto;
    background: url('../images/pear-logo-kit-black.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 103px;
    height: 141px;
  }
  input {
    margin-bottom: 20px;
  }
}
