.landing_main {
  &.content {
    background: url('/images/hero-landing@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
  }
}
