.landing {
  * {
    font-family: 'MontserratLight';

    &:not(b) {
  	   font-weight: $thin;
    }
  }

  .landing-main {

    &.content {
      background: url('../images/couple-image.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      background-position: 50% 1%;
      background-color: black;
      // flex-direction: column;
      // justify-content: center;


      .mid-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        @media #{$extra-small-and-down} {
          width: 80%;
          margin-left: auto;
          margin-right: auto;

          .input-boxed {
            margin-bottom: 10px;
          }
        }

        .pear-logo {
          background: url('../images/pear-logo-color-white.svg') center no-repeat;
          width: 103px;
          height: 141px;
          margin-left: auto;
          margin-right: auto;
        }

        .we-promise {
          opacity: 0.5;
        }
      }

      .join-form-container {
        @media #{$extra-small-and-down} {
          
        }
        min-width: 70%;
      }
    }
  }

  .button-join {
    width: 226px;
  }

  .landing-join {

    .form-join {
      max-width: 1000px;
      margin: 0 auto;
    }

    .button-join {
      margin: 0 auto;
    }

  }

  .landing-about {
    .about-subsection-container {
      display: flex;
      justify-content: space-between;

      .about-subsection {
        margin: 0 auto;
        max-width: 264px;

        h2 {
            font-size: 20px;
        }

        hr {
          width: 44px;
          border: none;
          height: 1px;
          background-color: black;
          margin-bottom: 18px;
        }
      }
    }
  }
}

.hero-title {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
