.landing-support {
  .support-container {
    @media #{$extra-small-and-down} {
      width: 80%;
      margin: 0 auto !important;
    }
  }

  .support-title {
    background: url('../images/hero-support.png');
    background-color: black;
    background-size: cover;
    background-position-y: -210px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media #{$extra-small-and-down} {
      background-position: 17% 50%;
    }
  }

  .item {
    margin: 0 auto;
  }

  .button {
    margin: 0 auto;
  }
}
