.landing-support {
  .support-container {
    @media #{$extra-small-and-down} {
      width: 80%;
      margin: 0 auto !important;
    }
  }

  .support-title {
    background: url('../images/hero-support.png');
    background-color: black;
  }

  .item {
    margin: 0 auto;
  }

  .button {
    margin: 0 auto;
  }

  border-bottom: 1px solid $color-grey-lightest2;
}
