.blog-cover {
  height: 500px;
  background: url('../images/hero-blog.png') center center;
  background-color: black;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: white;
  }
}

.blog {

  @media #{$small-and-up} {
    .padding-left {
      padding-left: 24px;
    }

    .padding-center {
      padding-left: 16px;
      padding-right: 16px;
    }

    .padding-right {
      padding-right: 24px;
    }
  }

  @media #{$medium-and-up} {
    .padding-left {
      padding-left: 40px;
    }

    .padding-center {
      padding-left: 26px;
      padding-right: 26px;
    }

    .padding-right {
      padding-right: 40px;
    }
  }

  .post {
    padding: 20px;

    img {
      width: 100%;
    }
  }

  .integrations {
    @media #{$extra-small-and-down} {
      width: 80%;
      margin: 0 auto;
    }
    //
    .fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    	width: 100% !important;
    }
  }

  .social-media-section {

    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

    .icon {
      width: 60px;
      height: 60px;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }

      &.facebook-icon {
        background: url('../images/facebook-icon.svg') center no-repeat;
      }

      &.instagram-icon {
        background: url('../images/instagram-icon.svg') center no-repeat;
      }

      &.twitter-icon {
        background: url('../images/twitter-icon.svg') center no-repeat;
      }
    }

  }

  .slick-carousel-container {
    width: 100%;

    @media #{$extra-small-and-down} {
      width: 70%;
      margin: 0 auto;
    }
    .slick-arrow.slick-disabled {
      display: none !important;
    }
  }

  @media #{$extra-small-and-down} {
    h4 {
      text-align: center;
    }
  }
}
