.terms-privacy {

  ul {
    list-style: none;
    padding:0;

    li {
      list-style-type: disc;
      list-style-position: inside;
      padding: 10px 0 10px 20px;
      text-indent: -1em;

      span {
        color: $color-black;
      }
    }
  }

  ol {

    li {
      padding: 10px 0 10px 20px;
    }
  }

}
