pre {
	font-size: 1px;
}

html{
  font-family: $font-primary;
	color: $color-grey-dark;
	width: 100%;
	height: 100%;
}


.clickable {
	cursor: pointer;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	color: $color-grey-dark;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.landing {
	background-color: white;
}

.select-age-home {
	visibility: hidden;
}
