<div id="top-nav" class="top-nav white static">
  <span class="pear-logo"></span>
  <div class="nav-container">
    <div id="nav-home" class="nav-item clickable">
      <a href="index.html">Home</a>
    </div>
    <div id="nav-about" class="nav-item clickable">
      <a href="index.html#nav-about-trigger">About</a>
    </div>
    <div id="nav-blog" class="nav-item clickable">
      <a href="index.html#nav-blog-trigger">Blog</a>
    </div>
    <div id="nav-media" class="nav-item clickable">
      <a href="index.html#nav-media-trigger">Media Kit</a>
    </div>
  </div>
</div>
