<div id="top-nav" class="top-nav">
  <span class="pear-logo"></span>
  <div class="nav-container">
    <div id="nav-home" class="nav-item clickable">
      Home
    </div>
    <div id="nav-about" class="nav-item clickable">
      About
    </div>
    <div id="nav-blog" class="nav-item clickable">
      Blog
    </div>
    <div id="nav-media" class="nav-item clickable">
      Media Kit
    </div>
    <div id="nav-support" class="nav-item clickable">
      Support
    </div>
    <div id="nav-launch" class="nav-item clickable">
      Join Us
    </div>
  </div>
</div>
