#cookie-wrapper {
  border-top: solid 1px #efeff4;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;

  .button {
    margin: 0 auto;
  }

}

.cc-invisible {
  display: none;
}
