.cookie-notice {
  footer {
    margin-bottom: 150px !important;
  }
}

footer {
  .bullet {
    display: inline-block;
    height: 3px;
    width: 3px;
    background-color: $color-grey-light;
    border-radius: 50%;
    margin-bottom: 2px;
  }

  a {
    &:hover {
      color: darken($color-grey-light, 10%);
    }
  }
}
