@@include('./_includes/head.html', {
	"title": "Home"
})
<div class="landing">
	<div class="landing-home">
		<div class="landing-main content">
			@@include('./_includes/top_nav.html')
			<span id="nav-home-trigger"></span>
			<div class="mid-section text-center">
				<div class="pear-logo"></div>
				<h1>"Creating matches, the smart way for now.</h1>
				<h1 class="text-uppercase mt0">Coming soon.</h1>
				<div class="button green shadow text-uppercase button-join">
					Join now
				</div>
			</div>
		</div>
		<div id="menu-toggle-indicator"> </div>
		<div class="landing-join">
			<h2 class="text-color-green text-center mt96">Join Pear now to gain VIP access to the app and our launch party!</h2>
			<div class="form-join">
				<input class="mt96" type="text" placeholder="Name" />
				<input class="mt72" type="text" placeholder="Email" />
				<div class="button green shadow text-uppercase button-join mt72 mb96">
					Join now
				</div>
				<div class="mt96 pt96 text-color-grey text-center">
					Follow us around
				</div>
				<div class="social-media-section mt32 mb32">
					<span class="icon instagram-icon"></span>
					<span class="icon facebook-icon"></span>
					<span class="icon twitter-icon"></span>
				</div>
			</div>
		</div>
	</div>
	<div id="nav-about-trigger"></div>
	<div class="landing-about mt96">
		<div class="about-title">
			<h1 class="text-uppercase mt0 text-center">About Pear</h1>
		</div>
		<div class="what-is-pear mt96">
			<h2 class="text-uppercase text-center">What is Pear</h2>
			<p class="mt32">
				Pear is a social networking application that lets you meet potential partners. We collect information from users and use it to pear them in an optimal way.
			</p>
			<p class="mt24">
				We don't just ask who you like and who you don't like, we find out who you like more and who likes you more. We do so by asking you to compare, in each case, two users of the opposite sex and select your preferred one among them. Of course, we don’t share this information, so “Bob” will never know he is “Ann’s” last choice!
			</p>
			<p class="mt24">
				Matches are found using a Nobel Prize winning algorithm, developed by mathematicians David Gale and Lloyd Shapley --- published in a work that they titled, we kid you not, "The Stability of Marriage".  To date, the work of Gale and Shapley is the main quantitative tool that social scientists use to study who marries/dates/etc. whom in modern societies.
			</p>
			<p class="mt24">
				If you are tired of apps that match you with dozens of people who aren't really interested in you, that never write you back, for whom you are not a priority, then pear is for you. We only create matches that matter, and a limited number of them at each point in time. The more you use the app, the more our software learns your preferences, thereby increasing the quality and value of your matches.
			</p>
		</div>

	</div>
</div>

@@include('./_includes/footer.html')
