@@include('./_includes/head.html', {
	"title": "Home"
})

<section class="mobile">
	<div style="height: 900px"></div>
	<div id=iphone-trigger></div>
  <div id="iphone" class="iphone-image">
		<div class="title-container">
			<div class="title-1 title text-uppercase text-color-green text-size-smd">1. Create an account</div>
			<div class="title-2 title text-uppercase text-color-green text-size-smd opacity">2. Create your profile</div>
			<div class="title-3 title text-uppercase text-color-green text-size-smd opacity">3. Start comparing</div>
			<div class="title-4 title text-uppercase text-color-green text-size-smd opacity">4. Explore profiles</div>
			<div class="title-5 title text-uppercase text-color-green text-size-smd opacity">5. See your comparisons</div>
			<div class="title-6 title text-uppercase text-color-green text-size-smd opacity">6. Chat and pear up</div>
		</div>
    <img src="images/iphone-device.png"/>
		<img class="shot-1 shot" src="images/shot-1.svg"/>
		<img class="shot-2 shot opacity" src="images/shot-2.svg"/>
		<img class="shot-3 shot opacity" src="images/shot-3.svg"/>
		<img class="shot-4 shot opacity" src="images/shot-4.svg"/>
		<img class="shot-5 shot opacity" src="images/shot-5.svg"/>
		<img class="shot-6 shot opacity" src="images/shot-6.svg"/>
  </div>
	<div style="height: 900px"></div>
</section>

@@include('./_includes/footer.html')
