@@include('./_includes/head.html', {
	"title": "Home"
})

<div class="support content">
  <div class="row flex--justify-center">
    <div class="item col-xs-12 col-sm-8 text-center mt84 pt96">
      <h3 class="text-uppercase margin0">Support</h3>
    </div>

    <div class="item col-xs-12 col-sm-8 text-center pt72 ">
      <p class="text-size-md margin0 clickable title">Where can I download Pear?</p>
			<p class="text-color-black text-size-xs text-thin desc">
				Unfortunately the algorithm we made does not work for people of the same sex. But we love everyone, and we would like everyone, independently to their sex orientation to join our community. So we are working for you guys! We are trying to create a new algorithm that will work. Hopefully an update, or another version of Pear, will come out soon. So…stay tuned!
      </p>
      <div class="bullet mt24 mb24"></div>
    </div>

    <div class="item col-xs-12 col-sm-8 text-center">
      <p class="text-size-md margin0 clickable title">Where can I download Pear?</p>
			<p class="text-color-black text-size-xs text-thin desc">
				Unfortunately the algorithm we made does not work for people of the same sex. But we love everyone, and we would like everyone, independently to their sex orientation to join our community. So we are working for you guys! We are trying to create a new algorithm that will work. Hopefully an update, or another version of Pear, will come out soon. So…stay tuned!
      </p>
      <div class="bullet mt24 mb24"></div>
    </div>

    <div class="item col-xs-12 col-sm-8 text-center active">
      <p class="text-size-md margin0 clickable title">Where can I download Pear?</p>
			<p class="text-color-black text-size-xs text-thin desc">
				Unfortunately the algorithm we made does not work for people of the same sex. But we love everyone, and we would like everyone, independently to their sex orientation to join our community. So we are working for you guys! We are trying to create a new algorithm that will work. Hopefully an update, or another version of Pear, will come out soon. So…stay tuned!
      </p>
      <div class="bullet mt24 mb24"></div>
    </div>

    <div class="item col-xs-12 col-sm-8 text-center pb96">
      <p class="text-size-md margin0 clickable title">Where can I download Pear?</p>
			<p class="text-color-black text-size-xs text-thin desc">
				Unfortunately the algorithm we made does not work for people of the same sex. But we love everyone, and we would like everyone, independently to their sex orientation to join our community. So we are working for you guys! We are trying to create a new algorithm that will work. Hopefully an update, or another version of Pear, will come out soon. So…stay tuned!
      </p>
    </div>

		<div class="email col-xs-12 col-sm-5 pb96 text-center">
			<img src="images/mail-icon.svg" style="height: 50px; width: 50px;" />
			<p class="text-size-xs">If you have other questions, or other technical issues, please contact us at <a class="text-link" href="mailto:support@pear.com">support@pear.com</a></p>

		</div>
  </div>
</div>

@@include('./_includes/footer.html')
