	<footer class="flex--justify-center pt32 pb32 mb24 text-center">
		<a class="text-decoration-none text-color-grey-light text-thin text-size-xxs" href="https://www.dropbox.com/sh/n8ocqhghj0r0gmd/AAComVxf6TKP9sjD0XX2mTeAa?dl=0">Press kit</a>
		<span class="bullet ml16 mr16"></span>
		<a class="text-decoration-none text-color-grey-light text-thin text-size-xxs" href="/terms.html">Terms and conditions</a>
		<span class="bullet ml16 mr16"></span>
		<a class="text-decoration-none text-color-grey-light text-thin text-size-xxs" href="/privacy.html">Privacy</a>
		<span class="bullet ml16 mr16"></span>
		<a class="text-decoration-none text-color-grey-light text-thin text-size-xxs" href="mailto:support@pear.me">Contact</a>
		<span class="bullet ml16 mr16"></span>
		<a class="text-decoration-none text-color-grey-light text-thin text-size-xxs" href="http://www.algorithmicmatching.com">Algorithmic Matching</a>
	</footer>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="//lightwidget.com/widgets/lightwidget.js"></script>
	<script src="scripts/main.js"></script>
	</body>
</html>
