<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<meta name="description" content="Pear Web Page">
		<title>Pear Web | @@title</title>
		<!-- Custom styles for this template -->
		<!-- Built main.css style -->
		<link href="styles/main.css" rel="stylesheet">
		<!-- End Built css -->
		<link rel="icon" type="image/x-icon" href="images/favicon.ico">

	</head>
	<body>
