<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<meta name="description" content="Pear Web Page">
		<title>Pear Web | @@title</title>
		<!-- Custom styles for this template -->
		<!-- Built main.css style -->
		<link href="styles/main.css" rel="stylesheet">
		<!-- End Built css -->
		<link rel="icon" type="image/x-icon" href="images/favicon.ico">
		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-86473127-1', 'auto');
		  ga('send', 'pageview');
		</script>

	</head>
	<body>
