<div id="top-nav" class="top-nav white static">
  <span class="pear-logo"></span>
  <div class="nav-container">
    <div id="nav-home" class="nav-item text-regular clickable">
      <a href="/">Home</a>
    </div>
    <div id="nav-about" class="nav-item text-regular clickable">
      <a href="/#nav-about-trigger">About</a>
    </div>
    <div id="nav-blog" class="nav-item text-regular clickable">
      <a href="/#nav-blog-trigger">Blog</a>
    </div>
    <div id="nav-support" class="nav-item text-regular clickable">
      <a href="/#nav-support-trigger">Support</a>
    </div>
  </div>
</div>
